@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Fira Sans Condensed', sans-serif;

}

.navbar {
    flex-wrap: nowrap;
}

.logo img {
    width: 80px;
}

nav {
    width: 70%;
    margin: auto;
}

.nav-item {
    text-transform: uppercase;
}

.nav-wrap {
    height: 80px;
}


.jumbo {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
}