@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Fira Sans Condensed', sans-serif;

}

.navbar {
    flex-wrap: nowrap;
    padding: 1rem;
}

.logo img {
    width: 70px;
}

nav {
    width: 80%;
    margin: auto;
}

.nav-item {
    text-transform: uppercase;
}

.nav-wrap {
    height: 80px;
}


.jumbo {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
}


.wrap {
    background-color: #1C1C1C;
    position: relative;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.title {
    background-color: rgb(16, 90, 250);
    position: absolute;
    top: -28px;
    padding: .6rem 1rem;
}

.container {
    padding: 2.5rem 1rem;
}

.content {
    width: 70%;
    margin: auto;

    color: white;

}

.imgcard {
    width: 130px;
    aspect-ratio: 1/1;
}

.more {
    background-color: rgb(16, 90, 250);
    padding: 1rem;
    width: 140px;
}


//link

.links {

    background-color: rgb(16, 90, 250);
    padding: 1rem 0;


    .link-menu {
        width: 70%;
        padding: 1rem;
        margin: auto;
        color: white;
        text-transform: uppercase;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .link {
        gap: 1rem;
    }

    img {
        max-width: 70px;
        max-height: 70px;
    }
}

//footer


.footer-menu {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.wrapper {
    width: 70%;
    margin: auto;
    color: #8b8b8b;
}

.row {
    position: relative;
}

ul h3 {
    color: white;
}

.logo-bg img {
    position: absolute;
    right: 0;
    top: 0;
    width: 340px;

}