@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Fira Sans Condensed', sans-serif;

}

.navbar {
    flex-wrap: nowrap;
}

.logo img {
    width: 80px;
}

nav {
    width: 70%;
    margin: auto;
}

.nav-item {
    text-transform: uppercase;
}

.nav-wrap {
    height: 80px;
}


.jumbo {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
}


.wrap {
    background-color: #1C1C1C;
    position: relative;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.title {
    background-color: rgb(16, 90, 250);
    position: absolute;
    top: -28px;
    padding: .6rem 1rem;
}

.container {
    padding: 2.5rem 1rem;
}

.content {
    width: 70%;
    margin: auto;

    color: white;

}